.grid-container {
  display: grid;
  grid-template-areas:
    "message"
    "_content_";
  /* background-color: grey; */
  padding: 50px;
}
.message {
  grid-area: message;
  /* padding: 15px; */
  font-size: large;
  margin-bottom: 30px;
}
._content_ {
  display: grid;
  grid-area: _content_;
  /* place-self: center; */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  place-items: center;
  /* padding: 100px; */
}
/* .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} */
.one {
  grid-column: 1 /3;
  grid-row: 1 / 3;
}
.two {
  grid-column: 3;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 2;
}
.one,
.two,
.three {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: white;
}
