<mat-toolbar class="flex-container" color="white">
  <mat-toolbar-row>
    <button class="sidenav-menu" mat-icon-button (click)="toggleNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon>account_balance</mat-icon>
    <span>Qwan</span>
    <div class="center-text">
      <a>Office Depot</a>
      |
      <a>TLV mall</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="grid-container">
  <mat-sidenav-container class="navbar">
    <mat-sidenav #sidenav mode="side" opened> </mat-sidenav>
    <mat-sidenav-content>
      <div class="addBtnContainer">
        <button type="button" class="btn btn-info" (click)="addNewItem()">
          <mat-icon>{{ addNav.icon_name }}</mat-icon>
          <span class="add_margin_addBtn" *ngIf="!isDescpHidden"> {{ addNav.descp }}</span>
        </button>
      </div>
      <div
        class="navigation-container"
        *ngFor="let nav of navigations"
        [routerLink]="nav.path"
        routerLinkActive="active"
      >
        <mat-icon>{{ nav.icon_name }} </mat-icon>
        <nav class="add_margin" *ngIf="!isDescpHidden">{{ nav.descp }}</nav>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>
